body{
    font-family: 'Segoe UI';
}
img{
    width: 25px;
}

.card{
    width: 58%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    padding:2%;
}

.entrada{
    width: 50%;
    margin: auto;
    padding: 7px;
    display: flex;
}

.entrada input[type = 'text']{
    width: 90%;
    margin-right: 10px;
}

th, td{
    padding: 10px 20px;
}

table{
    margin: auto;
}
